<div class="container-fluid row">
    <div class="filter col-3">
        <mat-card class="filter-card" appearance="outlined">
            <mat-card-header>
                <mat-card-title>Find a job</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field class="w-100 mt-3">
                    <mat-label>Work Position</mat-label>
                    <input matInput placeholder="" value="">
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-label>Work Location</mat-label>
                    <input matInput placeholder="" value="">
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-label>Field</mat-label>
                    <mat-select [formControl]="fields" multiple>
                        <mat-select-trigger *ngIf="((fields.value?.length || 0) > 1)">
                            {{fields.value?.[0] || ''}}
                            <span class="example-additional-selection">
                                (+{{(fields.value?.length || 0) - 1}} {{fields.value?.length === 2 ? 'other' :
                                'others'}})
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let field of fieldList; field" [value]="field">{{field}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions class="w-100">
                <div class="w-100 d-flex gap-4 justify-content-center">
                    <button class="alumni-btn-outline w-50">Reset</button>
                    <button class="alumni-btn w-50">Apply</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="job-content col-9">
        <div class="job-post w-100 d-flex flex-column align-items-center card p-4">
            <p>Is your organization hiring new talent? Share the career opportunity with huge talent pool within FAL</p>
            <button class="alumni-btn-outline" (click)="openJobForm()">+ Post an job</button>
        </div>
        <mat-tab-group>
            <mat-tab label="Job Available">
                <ng-template matTabContent>
                    <div class="row">
                        <div *ngFor="let card of cards" class="col-4 job-card p-4">
                            <div class="card h-100">
                                <div class="card-body mx-auto text-center">
                                    <h2 class="card-title mb-0">{{card.company}}</h2>
                                    <p class="card-text">{{card.position}}</p>
                                    <br>
                                    <table>
                                        <tr>
                                            <td>Salary:</td>
                                            <td>{{card.salary}}</td>
                                        </tr>
                                        <tr>
                                            <td>Location:</td>
                                            <td>{{card.location}}</td>
                                        </tr>
                                        <tr>
                                            <td>Expried Date:</td>
                                            <td>{{card.expriedDate}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <button class="alumni-btn-outline w-50 mx-auto mb-2">View Detail</button>
                                <button (click)="openCandidateFormModal()"
                                    class="alumni-btn w-50 mx-auto mb-4">Apply</button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="My Job Post">
                <ng-template matTabContent>
                    <div class="row">
                        <div *ngFor="let card of cards" class="col-4 job-card p-4">
                            <div class="card h-100">
                                <div class="card-body mx-auto text-center">
                                    <h2 class="card-title mb-0">{{card.company}}</h2>
                                    <p class="card-text">{{card.position}}</p>
                                    <br>
                                    <table>
                                        <tr>
                                            <td>Salary:</td>
                                            <td>{{card.salary}}</td>
                                        </tr>
                                        <tr>
                                            <td>Location:</td>
                                            <td>{{card.location}}</td>
                                        </tr>
                                        <tr>
                                            <td>Expried Date:</td>
                                            <td>{{card.expriedDate}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="d-flex justify-content-center gap-3">
                                    <button class="alumni-btn-outline mb-2">View Detail</button>
                                    <button class="alumni-btn-outline mb-2">Edit</button>
                                    <button class="alumni-btn-outline mb-2">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>