<div class="container-fluid w-50 mx-auto">
    <div class="card bg-dark text-white">
        <img src="https://sba.thehartford.com/wp-content/uploads/2022/07/Mentorship.jpg" class="card-img" alt="...">
        <div class="card-img-overlay d-flex flex-column justify-content-end">
            <h5 class="card-title">Introducing the Alumni Mentorship Program</h5>
            <p class="card-text">Arena’s Alumni Mentorship Programme aims to build a meaningful relationship between
                Arena alumni who are at different stages of their careers. The programme offers our alumni an
                opportunity
                to engage and foster a connection either as a mentor who can share their experiences or as a
                mentee eager to learn from the experienced Alumnus..</p>
            <div class="card-button d-flex gap-4">
                <button class="alumni-btn">Become A Mentee</button>
                <button class="alumni-btn-outline">Become A Mentor</button>
            </div>
        </div>
    </div>
    <h1 class="text-center my-4">The Way to Join Mentorship Program</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="https://virtuzone.com/wp-content/uploads/2023/07/business-mentorship-6.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Step 1: Register as a mentee or a mentor</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://virtuzone.com/wp-content/uploads/2023/07/business-mentorship-6.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Step 2: Find Mentor/Mentee for you</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://virtuzone.com/wp-content/uploads/2023/07/business-mentorship-6.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Step 3: Contact One-On-One</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                </div>
            </div>
        </div>
    </div>
</div>