.full-width {
    width: 100%;
  }
  
  mat-form-field {
    margin-bottom: 16px;
  }
  
  .mat-dialog-content {
    padding: 24px;
  }
  
  .mat-dialog-actions {
    justify-content: flex-end;
    padding: 16px;
  }
  
  button {
    margin-left: 8px;
  }
  