<h1 mat-dialog-title>Job Form</h1>
<div mat-dialog-content>
  <form [formGroup]="jobForm">
    <mat-form-field class="full-width">
      <mat-label>Company</mat-label>
      <input matInput formControlName="company">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Work Position</mat-label>
      <input matInput formControlName="workPosition">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Field</mat-label>
      <mat-select formControlName="field" multiple>
        <mat-option *ngFor="let field of fields" [value]="field">{{ field }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Salary</mat-label>
      <input matInput formControlName="salary">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Work Location</mat-label>
      <input matInput formControlName="workLocation">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Job Description</mat-label>
      <textarea matInput formControlName="jobDescription"></textarea>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Job Requirement</mat-label>
      <textarea matInput formControlName="jobRequirement"></textarea>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Job Benefit</mat-label>
      <textarea matInput formControlName="jobBenefit"></textarea>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Expire Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="expireDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="d-flex gap-3 justify-content-end p-3">
  <button class="alumni-btn-outline" (click)="onCancel()">Cancel</button>
  <button class="alumni-btn" [mat-dialog-close]="jobForm.value" [disabled]="!jobForm.valid">Submit</button>
</div>
