<div class="container-fluid mx-auto">
    <div class="card job-card shadow mb-5 bg-white rounded">
        <div class="card-body">
            <h2>FPT Software</h2>
            <table class="w-100 mt-3">
                <tr>
                    <td>Work Position</td>
                    <td>Work Location</td>
                    <td>Salary</td>
                    <td>Expire Date</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Fullstack Developer</td>
                    <td>Ha Noi</td>
                    <td>10-20 million VND</td>
                    <td>15/07/2024</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button class="alumni-btn w-100 mx-auto mt-4">Apply</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card job-card shadow mt-5 bg-white rounded">
        <div class="card-body">
            <h2 class="mb-3">Chi tiết công việc</h2>
            <h3>Mô tả công việc</h3>
            <ul>
                <li>Tổ chức nghiên cứu, phát triển các giải pháp tích hợp trên nền tảng hạ tầng công nghệ sẵn có của ABBANK.</li>
                <li>Tổ chức phối hợp với các đơn vị phát triển tích hợp các giải pháp, sản phẩm, dịch vụ Ngân hàng tại ABBANK.</li>
                <li>Tham gia xây dựng và triển khai các kế hoạch của đơn vị chức năng gắn liền với kế hoạch và mục tiêu chung của đơn vị; đảm bảo hoàn thành các chỉ tiêu do Giám đốc Cao cấp giao.</li>
            </ul>

            <h3>Yêu cầu ứng viên</h3>
            <h4>Kiến thức:</h4>
            <ul>
                <li>Có kiến thức chuyên môn về các công nghệ tích hợp API, bao gồm REST, SOAP, GraphQL, JSON, XML.</li>
                <li>Có kiến thức về các công nghệ IBM như API Connect, IBM MQ, DataPower Gateway.</li>
                <li>Có kiến thức về các nguyên tắc thiết kế API và các tiêu chuẩn tốt nhất.</li>
                <li>Có kiến thức về kiến trúc phần mềm và lập trình.</li>
            </ul>
            <h4>Kinh nghiệm:</h4>
            <ul>
                <li>Có ít nhất 5 năm kinh nghiệm làm việc với các giải pháp tích hợp API.</li>
                <li>Có kinh nghiệm sử dụng các công nghệ IBM như API Connect, IBM MQ, DataPower Gateway.</li>
                <li>Có kinh nghiệm làm việc với các chuẩn giao thức kết nối Socket, Http, Jms, FTP.</li>
            </ul>

            <h3>Quyền lợi</h3>
            <h4>Lương và phúc lợi hấp dẫn:</h4>
            <ul>
                <li>Mức lương cạnh tranh, phản ánh trực tiếp kỹ năng và kinh nghiệm của ứng viên (chi tiết sẽ được thảo luận trong buổi phỏng vấn)</li>
                <li>13 ngày nghỉ phép linh hoạt, bao gồm ngày sinh nhật và các dịp quan trọng khác</li>
                <li>Bảo hiểm đầy đủ theo luật lao động, cùng với ABBANK CARE - chương trình phúc lợi bổ sung đặc biệt dành cho ABBankers</li>
                <li>Lãi suất vay ưu đãi - Quyền lợi đặc biệt dành cho nhân viên ABBANK</li>
            </ul>
            <h4>Cơ hội phát triển nghề nghiệp hấp dẫn:</h4>
            <ul>
                <li>Gia nhập các dự án chuyển đổi quy mô lớn, cộng tác cùng các chuyên gia hàng đầu để áp dụng công nghệ mới nhất trong ngành ngân hàng</li>
                <li>Lộ trình phát triển sự nghiệp rõ ràng, được tạo điều kiện cho cả sự phát triển kỹ thuật và quản lý</li>
                <li>Hỗ trợ đào tạo và chúng chỉ trong lĩnh vực IT, ngân hàng/tài chính</li>
            </ul>
            <p class="mt-3">Email ứng tuyển: hr.com</p>
        </div>
    </div>
</div>
