.container-fluid {
    width: 1000px;
}

.job-card {
    border: none;
}

.card:hover {
    transition-duration: 0.5s;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}