<h1 mat-dialog-title>Candidate Form</h1>
<div mat-dialog-content>
    <form [formGroup]="candidateForm">
        <mat-form-field class="full-width">
            <mat-label>Fullname</mat-label>
            <input matInput formControlName="fullname">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phoneNumber" type="tel">
        </mat-form-field>

        <div class="file-input">
            <input type="file" (change)="onFileChange($event)" id="fileInput">
            <label class="d-flex align-items-center justify-content-center" for="fileInput"><p class="mb-0">{{fileName || 'Import CV here'}}</p></label>
        </div>

        <mat-form-field class="full-width">
            <mat-label>Job Letter</mat-label>
            <textarea matInput formControlName="jobLetter"></textarea>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button [mat-dialog-close]="candidateForm.value" [disabled]="!candidateForm.valid">Submit</button>
</div>