.full-width {
    width: 100%;
  }
  
  mat-form-field {
    margin-bottom: 16px;
  }
  
  .mat-dialog-content {
    padding: 24px;
  }
  
  .mat-dialog-actions {
    justify-content: flex-end;
    padding: 16px;
  }
  
  button {
    margin-left: 8px;
  }
  
  .file-input {
    position: relative;
    margin-bottom: 38px;
  }
  
  .file-input input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;

  }
  
  .file-input label {
    display: block;
    padding: 8px;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    height: 56px;
    line-height: normal;
  }
  