.p-header {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 24px;
    font-style: normal;
    line-height: normal;
}

.alumni-input {
    display: flex;
    padding: 12px 12px;
    align-items: center;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    width: 100%;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    outline: none;
}

.alumni-input:focus,
.alumni-textarea:focus {
    border: 1px solid #FFA47D;
}

.alumni-textarea {
    display: flex;
    padding: 12px 12px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    width: 100%;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    background-color: #dedede;
    line-height: normal;
    height: 120px;
}

.import-file {
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    color: white;
}

.alumni-btn,
.alumni-btn-outline {
    display: flex;
    padding: 9px 23px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    border: 1.5px solid #FFA47D;
    background: #FFA47D;
}

.alumni-btn-outline {
    background: #fff;
}

.alumni-label {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.mat-mdc-tab-body-content {
    overflow: hidden !important;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f27125;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f27125;
}

.mat-dialog-container {
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.mat-dialog-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.mat-dialog-content {
    max-height: 65vh;
    overflow: auto;
}

.mat-dialog-actions {
    padding: 8px 24px;
    border-top: 1px solid #e0e0e0;
}



html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}